<%= turbo_frame_tag 'dimmensions_form_frame' do %>
  <div>
      <h2>Medidas de mi techo y paneles solares</h2>
      <%= form_with scope: :dimmensions, url: dimmensions_form_submit_path, local: true do |form| %>
          <%= form.label :dimmension_units, 'Ingresar medidas en centímetros (10 metros = 1000 centímetros)', class: 'my-0 d-inline' %>
          <br>
          <br>
          <%= form.label :roof_dimmension_x, 'Ancho del techo', class: 'my-0 d-inline' %>
          <%= form.text_field :roof_dimmension_x, type: 'number', required: 'true', value: "#{local_assigns[:roof_dimmension_x] || 0}"%>
          <br>
          <%= form.label :roof_dimmension_y, 'Profundidad del techo', class: 'my-0 d-inline' %>
          <%= form.text_field :roof_dimmension_y, type: 'number', required: 'true', value: "#{local_assigns[:roof_dimmension_y] || 0}"%>
          <br>
          <br>
          <%= form.label :solar_panel_dimmension_x, 'Ancho del panel solar', class: 'my-0 d-inline' %>
          <%= form.text_field :solar_panel_dimmension_x, type: 'number', required: 'true', value: "#{local_assigns[:solar_panel_dimmension_x] || 0}"%>
          <br>
          <%= form.label :solar_panel_dimmension_y, 'Altura del panel solar', class: 'my-0 d-inline' %>
          <%= form.text_field :solar_panel_dimmension_y, type: 'number', required: 'true', value: "#{local_assigns[:solar_panel_dimmension_y] || 0}"%>
          <br>
          <br>
          <%= form.label :lock_rotation, '¿Quieres todos los paneles solares en la misma orientación?', class: 'my-0 d-inline' %>
          <%= form.check_box :lock_rotation, { checked: local_assigns[:lock_rotation] || false }, true, false %>
          <br>
          <br>
          <%= form.submit 'Calcular número de paneles solares' %>
      <% end %>
  <div>
<% end %>
